
Flask==2.2.1
Flask-SQLAlchemy==3.0.2
flatbuffers==1.12
fonttools==4.38.0
freetype-py==2.4.0
future==0.18.3
gast==0.4.0
google==2.0.2
google-api-core==2.10.2
google-api-python-client==1.7.8
google-auth==2.0.0
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.3.0
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.4.0
googleapis-common-protos==1.56.4
gprofiler-official==1.0.0
grpcio==1.50.0
grpcio-status==1.50.0
gunicorn==19.7.1
h11==0.13.0
h2==4.1.0

holoviews==1.15.4
hpack==4.0.0
hsluv==5.0.4
httpcore==0.16.3
httplib2==0.20.4
httpx==0.23.3
hvplot==0.8.2
hyperframe==6.0.1
idna==2.8
imagesize==1.4.1
importlib-metadata==4.11.3
importlib-resources==6.1.0
inflection==0.5.1
inquirerpy==0.3.4
install==1.3.5
intervaltree==3.1.0
ipykernel==6.28.0
ipython==8.18.1
ipython-genutils==0.2.0
ipywidgets==7.7.0
Jinja2==3.1.2
kiwisolver==1.4.4
lazy_loader==0.3
libclang==14.0.1
libsass==0.21.0
lightgbm==4.1.0
littleutils==0.2.2
llvmlite==0.41.0
loguru==0.7.1
lspopt==1.3.0
lxml==4.9.3
lz4==4.3.2
macholib==1.16.2
Markdown==3.3.7
markdown-it-py==2.2.0
MarkupSafe==2.1.1
mat73==0.60
matplotlib==3.8.2
matplotlib-inline==0.1.3
mccabe==0.7.0
mdurl==0.1.2
mido==1.3.0
mistune==0.8.4

more-itertools==10.1.0
mpegdash==0.3.1
msal==1.22.0
msgpack==1.0.4
mygene==3.2.2
mypy-extensions==1.0.0
nbclient==0.6.3
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
netCDF4==1.6.5
networkx==3.1
nibabel==5.1.0
nilearn==0.10.2
notebook==6.4.11
ntplib==0.4.0
numba==0.58.0
numpy==1.24.4
numpydoc==1.6.0
oauthlib==3.2.0
openpyxl==3.0.10
opt-einsum==3.3.0
outcome==1.1.0
outdated==0.2.2
packaging==23.2
paho-mqtt==1.6.1
pandas==2.0.3
pandas-flavor==0.6.0
pandocfilters==1.5.0
panel==0.14.2
param==1.12.3
parso==0.8.3
pathspec==0.12.1
pathvalidate==2.5.2
patsy==0.5.3
pexpect==4.8.0
pfzy==0.3.4
pickleshare==0.7.5
Pillow==9.3.0
pingouin==0.5.3
platformdirs==4.1.0
plotly==5.13.1
pluggy==1.3.0
poetry-dynamic-versioning==0.22.0
pooch==1.6.0
prometheus-client==0.14.1
prompt-toolkit==3.0.43
proto-plus==1.22.1
protobuf==4.21.6
psutil==5.9.1
psycopg2-binary==2.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyBluez-bitalino==0.30
pycairo==1.23.0
pycodestyle==2.11.1
pycparser==2.21
pycryptodomex==3.18.0
pyct==0.5.0
pydantic==1.10.2
pydocstyle==6.3.0
pyflakes==3.1.0
pygatt==4.0.5
Pygments==2.15.1
pyinstaller==5.6.2
pyinstaller-hooks-contrib==2022.13
PyJWT==2.6.0
pylint==3.0.3
pylint-venv==3.0.3
pyls-spyder==0.4.0
pylsl==1.16.1
pymongo==4.3.2

requests==2.31.0
requests-oauthlib==1.3.1
requests3==0.0.0

urllib3==2.2.1
urllib3-secure-extra==0.1.0
